<html>
    <head>
        <title>Sport Compass | Post </title>

        <link rel="shortcut icon" type="image/x-icon" href="/icons/sc.png">
        <meta charset="utf-8"> 

        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <script src="/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link type="application/octet-stream" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css.map">
        <script src="/popper/popper.min.js" ></script>
        <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script> 
        <script type="application/octet-stream" src="/bootstrap-4.3.1-dist/js/bootstrap.min.js.map"></script> 
    </head>

    <style>
        #post_author{
            text-align: right;
        }
    </style>

    <body>

        <!-- Start Navbar -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/icons/sc.png" class="d-inline-block align-top" alt="" style="width: 200px;">
            </a>
        </nav>
        <!-- End Navbar -->

        <br>
        <br>

        <div class="container">

            <div class="d-flex justify-content-center">
                <h3>Create a Post</h3>
            </div>
            
            <div class="d-flex justify-content-center">
                
                <form>
                    <div class="form-group">

                        <label for="user_name">Name</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <input type="text" class="form-control" 
                                id="user_name" placeholder="Jhon" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_last_n">Last Name</label>
                        <input id="user_last_n" type="text" class="form-control" placeholder="Doe" required>
                    </div>

                    <div class="form-group">
                        <label for="post_title">Post Title</label>
                        <div class="input-group mb-3">
                            <input id="post_title" type="text" class="form-control" placeholder="Title of the post." aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="post_text">Write your Post</label>
                        <textarea class="form-control" id="post_text" rows="3"></textarea>
                    </div>

                    <div class="file_upload fileupload-css-ak">
                        <label for="resources">Please upload your image(s).</label>
                        <div class="input-group mb-3">
                            <input id="resources" type="file" name="attachments[]"  required="required" multiple="multiple">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" >
                            Cancel
                        </button>
                        <button id="button_form_submit" type="button" class="btn btn-success" onclick="post_create_handler()">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
        

        <footer class="page-footer font-small unique-color-dark pt-4">    
            <div class="footer-copyright text-center py-3">
                <img src="/icons/sc.png"  style="width: 150px;">
                Backend Assignment - Intership Role © 2020
            </div>
        </footer>        

    </body>

    <script src="/scripts/static_handler.js"></script> 

</html>