<html>
    <head>
        <title>Sport Compass | Post </title>

        <link rel="shortcut icon" type="image/x-icon" href="/icons/sc.png">
        <meta charset="utf-8"> 

        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <script src="/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link type="application/octet-stream" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css.map">
        <script src="/popper/popper.min.js" ></script>
        <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script> 
        <script type="application/octet-stream" src="/bootstrap-4.3.1-dist/js/bootstrap.min.js.map"></script> 
    </head>

    <style>
        #post_author{
            text-align: right;
        }
    </style>

    <body>

        <!-- Start Navbar -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/icons/sc.png" class="d-inline-block align-top" alt="" style="width: 200px;">
            </a>
        </nav>
        <!-- End Navbar -->

        <br>
        <br>

        <div class="container">
            <div id="set_of_blogs" class="row d-flex justify-content-center">
            </div>


            <div class="d-flex justify-content-center">
                <p>Leave a commentary</p>
            </div>

            <div class="d-flex justify-content-center">
                
                <form>
                    <div class="form-group">
                        <label for="user_name">Name</label>
                        <input id="user_name" type="text" class="form-control" 
                            placeholder="Jhon" required>
                    </div>

                    <div class="form-group">
                        <label for="comm_text">Commentary</label>
                        <textarea class="form-control" id="comm_text" rows="3" placeholder="Commentary"></textarea>
                        
                    </div>
                    <button type="button" class="btn btn-success" onclick="send_commentary()">
                        Send commentary
                    </button>
                  </form>
            </div>
        </div>
        
        <footer class="page-footer font-small unique-color-dark pt-4">    
            <div class="footer-copyright text-center py-3">
                <img src="/icons/sc.png"  style="width: 150px;">
                Backend Assignment - Intership Role © 2020
            </div>
        </footer>        

    </body>

    <script src="/scripts/static_handler.js"></script> 
    <script>
        start_unique()
    </script>
</html>
