<html>
    <head>
        <title>Sport Compass | Backend Assignment </title>

        <link rel="shortcut icon" type="image/x-icon" href="/icons/sc.png">
        <meta charset="utf-8"> 

        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <script src="/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link type="application/octet-stream" rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css.map">
        <script src="/bootstrap-4.3.1-dist/js/popper.min.js" ></script>
        <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script> 
        <script type="application/octet-stream" src="/bootstrap-4.3.1-dist/js/bootstrap.min.js.map"></script> 
    </head>

    <style>
    </style>

    <body>

        <!-- Start Navbar -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/icons/sc.png" class="d-inline-block align-top" alt="" style="width: 200px;">
            </a>
        </nav>
        <!-- End Navbar -->

        <!-- Start Container -->
        <div class="container">
            <br> 

            <div class="row"> 

                <div class="col-sm-6"> 
                    <div class="card card_app">
                        <div id="logo_set_1" align="center" style="margin: 10px 0 0 0;">
                            <a href="/triangule" style="color: #ffffff;">
                                <img src="/icons/triangule.png"  style="width: 123px;">
                            </a> 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Triangule.</h5>
                            <p class="card-text">Triangle checker.</p>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-6"> 
                    <div class="card card_app">
                        <div id="logo_set_2" align="center" style="margin: 10px 0 0 0;">
                            <a href="/blog" style="color: #ffffff;">
                                <img src="/icons/blog.png"  style="width: 100px;">
                            </a> 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Blog API</h5>
                            <p class="card-text">CRUD for two entities: posts and comments.</p>
                        </div>
                    </div>
                </div> 
                
            </div> 
        </div> 
        <!-- End Container -->

        <footer class="page-footer font-small unique-color-dark pt-4">    
            <div class="footer-copyright text-center py-3">
                <img src="/icons/sc.png"  style="width: 150px;">
                Backend Assignment - Intership Role © 2020
            </div>
        </footer>

    </body>

</html>
